#title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 700;
}
span {
    display: block;
}

p {
    margin: 5px;
}
.container {
    width: 600px;
    position: fixed;
    top: 25%;
    left: 30%;
    text-align: center;
}
#text{
    text-align: center;
    margin: 10px;
    font-size: 18px;
}

#question{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
}

button {
    background: #32a885;
    background-color: #32a885;
    border-color: #32a885;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 4px;
    color: white;
}

button:hover {
    background: #24785f;
    background-color: #24785f;
    border-color: #24785f;
}

#highscores {
    position: fixed;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #32a885;
    cursor: pointer;
}

#timer {
    float: right;
}

#final {
    font-size: 20px;
    text-align: center;
    background-color: #b2edc1;
    margin: 10px;
    padding: 0px;
}